@font-face {
    font-family: 'SmashBross';
    src: url('../assets/font/SmashBross.ttf');
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A111C;
    cursor: url('../assets/images/pointer.png'), pointer;
    overflow: hidden;
}

#muteButton {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}

#mute {
    height: 22px;
}

#downloadImage {
    position: absolute;
    top: 0px;
    right: 50px;
    margin: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}

#download {
    height: 22px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transform: scale(0.7);
}

.menuHide {
    animation-name: menuHide;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
}

@keyframes menuHide {
    0%{
        opacity: 1;
        transform: scale(0.7);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes gameShow {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(0.8);
    }
}

@keyframes gameHide {
    0%{
        opacity: 1;
        transform: scale(0.8);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes bouncePlayButton {
    0%{
        transform: translateY(0px) scale(1);
    }
    15%{
        transform: translateY(-10px) scale(1.1);
    }
    30%{
        transform: translateY(0px) scale(1);
    }
    100%{
        transform: translateY(0px);
    }
}

#playButton {
    animation-name: bouncePlayButton;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    font-size: 75px;
    color: black;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 200px;
    font-family: 'SmashBross';
    font-weight: bold;
    justify-content: center;
}

.gameShow {
    animation-name: gameShow;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

.gameHide {
    animation-name: gameHide;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

#container {
    display: none;
    transform: scale(0);
    position: relative;
    overflow: hidden;
    height: 866px;
    width: 1555px;
}

#presentation {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    transform: scale(0.9);
    height: 866px;
    width: 1555px;
}

.presentationImage {
    height: 750px;
    width: 750px;
    z-index: 5;
}

#charactersScene {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    height: 55%;
    background-color: #0E0C0E;
}

.santaCharactersContainer {
    position: absolute;
    top: 115px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.charactersRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.santaImagesContainer {
    border: #D2D2D2 solid 2px;
    border-radius: 10px;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
    margin: 2px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.santaImages {
    margin-left: -50px;
    width: 200px;
    height: 200px;
    margin-top: -15px;
}

.santaName {
    position: absolute;
    bottom: 0px;
    font-family: 'SmashBross';
    font-size: 20px;
    color: #0A111C;
    margin-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 4px;
    background-color: #D2D2D2;
}

.santaPlayers {
    position: absolute;
    width: 300px;
    height: 300px;
    display: none;
}

.santaPlayers img {
    width: 300px;
    height: 300px;
}

#santaPlayer1 {
    bottom: 0px;
    left: 15px;
}

#santaPlayer2 {
    bottom: 0px;
    right: 499px;
}

@keyframes selectChamp1 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes selectChamp2 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

.player1 {
    animation-name: selectChamp1;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.player2 {
    animation-name: selectChamp2;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.names {
    position: absolute;
    font-size: 32px;
    display: flex;
    align-items: center;
    font-family: 'SmashBross';
}

#santaNamePlayer1 {
    background-color: #FC9FA1;
    width: 288px;
    height: 44px;
    bottom: 76px;
    left: 401px;
}

#santaNamePlayer2 {
    background-color: #9DBFFD;
    width: 288px;
    height: 44px;
    bottom: 76px;
    right: 125px;
}

@keyframes addText {
    0%{
        width: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes removeText {
    0%{
        opacity: 100%;
    }
    100%{
        width: 0%;
    }
}

.addText {
    animation-name: addText;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.removeText {
    animation-name: removeText;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.nameFull {
    overflow: hidden;
    white-space: nowrap;
    width: 356px;
    text-align: left;
    padding-left: 12px;
}

#startGameButton {
    display: none;
    position: absolute;
    top: 520px;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'SmashBross';
    font-size: 30px;
}

#presentationPlayerOneContainer {
    display: flex;
    align-items: flex-end;
    height: 100%;
    position: relative;
}

#presentationPlayerTwoContainer {
    display: flex;
    align-items: flex-end;
    height: 100%;
    position: relative;
}

#vsContainer {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

#logoVs {
    height: 350px;
    width: 350px;
    z-index: 10;
}

#vs {
    transform: translateY(-1000%);
    z-index: 20; 
}

.playerName {
    z-index: 100;
    font-family: 'SmashBross';
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#presentationPlayerOne {
    transform: translateX(-200%);
}

#presentationPlayerTwo {
    transform: translateX(200%);
}

@keyframes fromLeft {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes fromTop {
    0%{
        transform: translateY(-1000%);
    }
    40%{
        transform: translateY(50%);
    }
    50%{
        transform: translateY(-40%);
    }
    60%{
        transform: translateY(30%);
    }
    70%{
        transform: translateY(-20%);
    }
    85%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes fromRight {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.fromTop {
    animation-name: fromTop;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.fromRight {
    animation-name: fromRight;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#myCanvasFire {
    position: absolute;
    bottom: 0;
    display: none;
}

#myCanvasIce {
    position: absolute;
    bottom: 0;
    display: none;
}

#upScreen {
    font-size: 42px;
    color: white;
    font-family: 'SmashBross';
    display: none;
}

#controlContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 6px;
    padding-left: 6px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'SmashBross';
}

.playerControlContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.playerControlContainer img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

#lightning {
    position: absolute;
    height: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 10;
}

@keyframes lightningStrike {
    0%{
        height: 0px;
    }
    100%{
        height: 866px;
    }
}

.strike {
    animation-name: lightningStrike;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#lightningImage {
    height: 872px;
    width: 760px;
}